<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Vassaire's Works</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    
</head>
<body>
<header>
    <div class="title">
        <h1 class="normal-border">Vassaire's <span class="notvassaire">Collected Works</span></h1>
    </div>
    
    <nav>
        <div class="container">
            <button class="circleParent" id="circle">
                <img alt="All" src="/images/circleAll.png#" class="rotate-on-hover circle1">
                <img alt="Journals" src="/images/circleJournals.png" class="rotate-on-hover circle2">
                <img alt="Poems" src="/images/circlePoems.png" class="rotate-on-hover circle3">
                <img alt="Fiction" src="/images/circleFiction.png" class="rotate-on-hover circle4">
                <script>
                        const button = document.getElementById('circle');
                
                        button.addEventListener('click', (event) => {
                            const rect = button.getBoundingClientRect();
                            const x = event.clientX - rect.left; // X position within the element
                            const y = event.clientY - rect.top;  // Y position within the element
                
                            const centerX = rect.width / 2;
                            const centerY = rect.height / 2;
                            const distanceFromCenter = Math.sqrt(Math.pow(x - centerX, 2) + Math.pow(y - centerY, 2));
                
                            if (distanceFromCenter < 100) {
                                window.location.href = '/Fiction#startofessays'; 
                            }
                            else if (distanceFromCenter < 200) {
                                window.location.href = '/Poems#startofessays'; 
                            } else if(distanceFromCenter < 300) {
                                window.location.href = '/Journals#startofessays'; 
                            } else{
                                window.location.href = '/Index#startofessays';
                            }
                        });
                    </script>
            </button>
        </div>
    </nav>
</header>
<main role="main" class="container">
    @RenderBody()
    <button onclick="topFunction()" id="topOfPage">
        <img src="/images/up-arrow.png" alt="top of page" class="raise-on-hover">
        <img src="/images/circle80.png" alt="top of page" class="rotate-on-hover">
    </button>

    
    <script>
        // Get the button
        let mybutton = document.getElementById("topOfPage");
        
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
          if (document.body.scrollTop > 0 || document.documentElement.scrollTop > 1000) {
            mybutton.style.display = "block";
          } else {
            mybutton.style.display = "none";
          }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 200;
          document.documentElement.scrollTop = 200;
        }
    </script>
    
</main>
<footer>
    <!-- Footer content -->
</footer>
</body>
</html>